body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4fdf7;
  color: #2d4739;
}

.main-container {
  padding: 2rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d4739;
  color: white;
  padding: 1rem 2rem;
}

.nav-links a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.nav-links a.active,
.nav-links a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #2d4739;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.user-dropdown {
  color: white;
  cursor: pointer;
}

.user-menu {
  display: none;
  position: absolute;
  background-color: white;
  right: 2rem;
  top: 60px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
  z-index: 10;
}

.user-dropdown:hover .user-menu {
  display: block;
}

.user-menu a {
  color: #2d4739;
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
}

.user-menu a:hover {
  background-color: #f1f1f1;
}

/* Tabla */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.custom-table th, .custom-table td {
  border: 1px solid #c3e2ce;
  padding: 0.75rem;
  text-align: left;
}

.custom-table th {
  background-color: #a6dcb6;
  color: #1b3c29;
}

/* Botones */
.btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.btn:hover {
  background-color: #45a049;
}

.edit-btn, .delete-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border: 2px solid #a6dcb6;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px #2d4739;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #a6dcb6;
  border-radius: 4px;
}

.close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
  color: #4caf50;
}
